@charset "UTF-8";

/* button */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}

.btn--s {
  padding: 12px 40px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.btn--l {
  width: 500px;
  padding: 20px 10px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.btn--b {
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.btn--primary {
  background-color: #5324d6;
  color: #fff;
}
.btn--primary:hover {
  background-color: #3f19a8;
}

.btn--primary2 {
  background-color: #736795;
  color: #fff;
}
.btn--primary2:hover {
  background-color: #9682cb;
}

/* color */
.color--primary {
  color: #5324d6 !important;
}

/* 공통 레이아웃 */

.overlap-group {
  background-color: #ffffff;
  height: 126px;
  left: 249px;
  position: absolute;
  top: 898px;
  width: 1191px;
}

.content__title {
  font-size: 44px !important; /* !important를 사용해 우선순위를 높임 */
  color: #283742;
  margin-bottom: 20px;
}

.content__sub-title {
  font-size: 10px; /* 텍스트 크기를 줄임 */
  color: #535a5f !important; /* 더 연한 글자색 */
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 832px;
  height: 550px;
  padding: 40px;
  background-color: #fff;
  border: 10px solid #b1cfe8;
  border-radius: 20px;
  text-align: center;

  /* 배경 이미지 추가 */
  background-size: cover; /* 이미지가 전체를 덮도록 조정 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */

  /* 그라데이션 배경 추가 */
  background-image: linear-gradient(to right, #f3e7e9, #e3eeff);
  background-size: cover; /* 이미지가 전체를 덮도록 조정 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
}
.content__number {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #5324d6;
}
.content .content__title {
  font-size: 62px;
}
.content .content__sub-title {
  margin-top: 14px;
  font-size: 24px;
  line-height: 1.5;
}
.content .content__link {
  margin-top: 52px;
}
.content .content__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 54px;
}

.content .content__result {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}
.content .content__result .content__result__thumb {
  width: 260px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
}
.content .content__result .content__result__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .content__result .content__result__title {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 500;
}
.image-container {
  display: flex;
  justify-content: space-between; /* 좌우로 이미지 배치 */
  margin-top: 20px; /* 이미지 상단에 여백 추가 */
}

.image-wrapper {
  flex: 1; /* 각 이미지 wrapper가 동일한 크기를 가지도록 설정 */
  text-align: center; /* 이미지 가운데 정렬 */
  max-width: 45%; /* 최대 너비 설정 (조정 가능) */
  margin: 0 10px; /* 이미지 사이 간격 조절 */
}

.image-wrapper img {
  width: 100%; /* wrapper의 너비에 맞춤 */
  height: 200px; /* 고정된 높이 설정 (조정 가능) */
  object-fit: cover; /* 이미지가 고정된 크기에 맞게 잘리도록 설정 */
  border-radius: 8px; /* 이미지의 모서리를 둥글게 (선택 사항) */
}
/* modal */
.modal {
  z-index: 100;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 0.8);
  border-radius: 10px;
}

.modal .modal__title {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
